<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <!-- <meta property="og:image" content="https://www.bigcial.com/logo.png"> -->
    <meta property="og:url" content="https://devwookddu.github.io/blog/">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css">
    <link rel="stylesheet" href="{{ '/css/fonts.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/syntax.css' | relative_url }}">
    <script type="text/javascript" src="{{ '/js/common.js' | relative_url }}"></script>
</head>