@charset 'utf-8';

.footer {
  position: fixed;
  bottom: -$footer-height;
  height: $footer-height;
  width: 100%;
  background-color: $dark-grey;
  z-index: $z-index-footer;
  transition: .3s;

  &.active {
    bottom: 0;
  }

  &-content {
    max-width: $content-max-width;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
  }

  &-link {
    display: flex;
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    margin-left: 5px;
    
    &.github {
      border-color: #9936ff;
      background-image: url('../assets/images/icons/github.svg');
    }
    &.npm {
      background-size: 35px;
      background-image: url('../assets/images/icons/npm.svg'); 
    }
  }
}