<!DOCTYPE html>
<html lang="ko">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include aside.html %}
    <div class="page-top {{ page.background }}">
      <div class="page-top__container">
        <div class="page-top__container-title" id="page-title">
          {% if page.type == 'tags' %}#{% endif %}{{ page.title }}
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="section">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>